<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template

-->
<html xmlns:th="http://www.thymeleaf.org"

      xmlns="http://www.w3.org/1999/xhtml"
      >
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles_shop.css}" rel="stylesheet" />
    </head>
    <body>



        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Tienda Productodsadadas</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Agrega el producto al</p>
                </div>
            </div>
        </header>
        
        
        
        
        
        

        <!-- comment 
         <section>
             <div class="row row-cols-4">
                 <div class="card p-2" th:each="p : ${productos}">
                     <figure>
 
                         <img th:src="${p.rutaImagen}"  
                              height="200"
                              alt="alt"/>
 
 
                         <figcaption>
 
                             [[${p.descripcion}]]
 
                         </figcaption>
 
                     </figure>
 
                     <div class="card-header">
                         <h4>[[${p.descripcion}]]</h4>
                     </div>
                     <div class="card-header">
                         <h4>[[${p.detalle}]]</h4>
                     </div>
 
 
 
 
                 </div>
             </div>   
 
         </section>
 
        -->

        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Michipan2024</p></div>
        </footer>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{/js/scripts.js}"></script>



    </body>
</html>
